{%extends 'base.html' %}
{% block content %}
<!-- <h1>Hi, {{ current_user.username }}!</h1> -->
<!-- {% for post in posts %} -->
<!-- <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div> -->
<!-- {% endfor %} -->

<div class="container" style="background-color: #833471;"><br><br><br><br><br><br><br>
    <div class="row">
        <div class="col-md-4">

            <div class="card jumbotron text-center">


                <div class="card-body">
                    <h2 class="card-title">Technology Pitches</h2>
                    <p class="card-text">The advance of technology is based on making
                        it fit in so that you don't really even notice. so it's part of everyday life
                    </p>
                    <a href="{{url_for('main.technology')}}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>

        
            <div class="col-md-4">
                <div class="card jumbotron text-center">


                    <div class="card-body">
                        <h2 class="card-title">Travels Pitches</h2>
                        <p class="card-text">The world is a book and those who do not travel read only one page</p>
                        <a href="{{url_for('main.travels')}}" class="btn btn-primary">View</a>
                    </div>
                </div>

            </div>
        

        <div class="col-md-4">
            <div class="card jumbotron text-center">


                <div class="card-body">
                    <h2 class="card-title">Sports Pitches</h2>
                    <p class="card-text">Every pro was once an amateur.Every expert was once a beginner.So, dream big and start now</p>
                    <a href="{{url_for('main.sports')}}" class="btn btn-primary">View</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}